button{
    outline: none !important;
}


.square{
    width: 10em;
    height: 10em;
    text-align: center;
    font-weight: bold;
}

.square-up, .square-mid{
    border-bottom: 2px solid grey;
}

.square-center{
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

.square:hover{
    background-color: #C3DFE8;
    cursor:pointer;
}
.square:active{
    background-color: #A0CBD9;
}

#title{
    margin-bottom: 3em;
    border-bottom: 1px solid grey;
}


#clear{
    margin-top: 1.8em;
}

td{
    font-weight: bold;
}

#action{
    opacity: 0;
}
